charset-normalizer==3.4.3
ptyprocess==0.7.0
pyflakes==3.2.0
pycodestyle==2.12.1
asttokens==3.0.0
prompt_toolkit==3.0.48
wheel==0.44.0
pluggy==1.5.0
ConfigArgParse==1.7.1
nvidia-cublas-cu12==12.1.3.1
PyWavelets==1.4.1
importlib_resources==6.4.5
pexpect==4.9.0
pycocotools==2.0.7
tomli==2.2.1
opencv-python==4.12.0.88
certifi==2025.8.3
line_profiler==4.2.0
orjson==3.10.15
contourpy==1.1.1
mutagen==1.47.0
narwhals==1.42.1
pyglet==2.1.11
torchvision==0.11.2
torch==1.10.1
pyzmq==25.1.2
joblib==1.4.2
sounddevice==0.5.3
colormap==1.3.0
gitdb==4.0.12
urllib3==2.2.3
human-body-prior==0.8.5.0
kiwisolver==1.4.7
pure_eval==0.2.3
loguru==0.7.3
ffmpeg==1.4
colorama==0.4.6
surrogate==0.1
vedo==2025.5.4
shapely==2.0.7
absl-py==2.3.1
yacs==0.1.8
fonttools==4.57.0
configparser==7.1.0
pyasn1==0.6.1
jupyterlab_widgets==3.0.15
six==1.17.0
six==1.16.0
decorator==4.4.2
annotated-types==0.7.0
nvidia-cudnn-cu12==9.1.0.70
nvidia-nvjitlink-cu12==12.9.86
open3d==0.19.0
nvidia-cuda-runtime-cu12==12.1.105
websockets==13.1
zipp==3.21.0
zipp==3.20.2
pickle5==0.0.11
ultralytics-thop==2.0.17
tensorboard==2.14.0
wcwidth==0.2.13
matplotlib==3.7.5
jsonschema==4.23.0
sk-video==1.1.10
backcall==0.2.0
plotly==6.3.0
mdurl==0.1.2
jupyter_client==8.6.3
nvidia-cusparse-cu12==12.1.0.106
ipython==8.12.2
lit==15.0.7
cftime==1.6.4.post1
google-auth==2.40.3
aiohappyeyeballs==2.4.4
kornia==0.7.3
plyfile==1.0.3
pip==24.2
codecov==2.1.13
configer==1.3.1
MarkupSafe==2.1.5
tensorboard-data-server==0.7.2
torchmetrics==1.5.2
propcache==0.2.0
pydantic_core==2.27.2
ipywidgets==8.1.7
numpy==1.22.3
numpy==1.23.1
huggingface-hub==0.35.0
smplx==0.1.28
pillow==10.4.0
frozenlist==1.5.0
rich==14.2.0
netCDF4==1.7.2
pytorch-lightning==2.4.0
kaleido==1.2.0
tensorboardX==2.6.2.2
referencing==0.35.1
h5py==3.11.0
nvidia-cuda-cupti-cu12==12.1.105
torchgeometry==0.1.2
aiohttp==3.10.11
vitpose==0.1.0
matplotlib-inline==0.1.7
iniconfig==2.1.0
pyrender==0.1.45
opt_einsum==3.4.0
pytest-timeout==2.4.0
youtube-transcript-api==1.2.2
triton==2.0.0
smmap==5.0.2
path==17.0.0
torchaudio==0.10.1
nvidia-cusolver-cu12==11.4.5.107
hf-xet==1.1.10
Pygments==2.19.2
Pygments==2.18.0
yt-dlp==2024.10.22
moviepy==1.0.3
pkgutil_resolve_name==1.3.10
flake8==7.1.2
seaborn==0.13.2
yarl==1.15.2
aiosignal==1.3.1
tqdm==4.67.1
async-timeout==5.0.1
chumpy==0.70
nest_asyncio==1.6.0
itsdangerous==2.2.0
setuptools==59.5.0
widgetsnbextension==4.0.14
opencv-contrib-python==4.12.0.88
termcolor==2.4.0
py==1.11.0
logistro==2.0.1
cffi==1.17.1
pandas==1.5.3
einops==0.8.1
safetensors==0.5.3
mitsuba==3.6.1
iopath==0.1.10
Rtree==1.3.0
cachetools==5.5.2
nvidia-cuda-nvrtc-cu12==12.1.105
addict==2.4.0
cmake==3.25.0
sympy==1.13.3
requests-oauthlib==2.0.0
lightning-utilities==0.11.9
parso==0.8.4
transforms3d==0.4.2
requests==2.32.4
interrogate==1.7.0
vtk==9.5.2
imageio==2.35.1
markdown-it-py==3.0.0
flatbuffers==25.9.23
easydev==0.13.3
simplejson==3.20.2
executing==2.1.0
jedi==0.19.1
idna==3.10
pyerfa==2.0.0.3
PyOpenGL==3.1.0
pycparser==2.23
nvidia-nccl-cu12==2.20.5
portalocker==3.0.0
platformdirs==4.3.6
debugpy==1.6.7
debugpy==1.8.17
Cython==3.0.8
freetype-py==2.5.1
networkx==3.1
nvidia-cufft-cu12==11.0.2.54
mediapipe==0.10.11
fsspec==2025.3.0
pydantic==2.10.6
fvcore==0.1.5.post20221221
ultralytics==8.3.204
pyasn1_modules==0.4.2
retrying==1.4.2
jax==0.4.13
packaging==25.0
sentry-sdk==2.38.0
python-dateutil==2.9.0.post0
python-dateutil==2.9.0
pycryptodomex==3.23.0
threadpoolctl==3.5.0
wandb==0.22.0
pickleshare==0.7.5
omegaconf==2.3.0
astropy==5.2.2
xdoctest==1.3.0
pytz==2025.2
nbformat==5.10.4
pyparsing==3.1.4
eval_type_backport==0.2.2
Markdown==3.7
scikit-image==0.21.0
lazy_loader==0.4
scipy==1.10.1
psutil==6.0.0
kornia_rs==0.1.10
Jinja2==3.1.6
fastjsonschema==2.21.2
grpcio==1.70.0
click==8.1.8
google-auth-oauthlib==1.0.0
nvidia-nvtx-cu12==12.1.105
antlr4-python3-runtime==4.9.3
jupyter_core==5.8.1
Brotli==1.1.0
pyquaternion==0.9.9
jaxlib==0.4.13
cdflib==0.3.20
nvidia-curand-cu12==10.3.2.106
colorlog==6.9.0
pytorch3d==0.7.8
multidict==6.1.0
selfcontact==0.2.0
polars==1.8.2
GitPython==3.1.45
Flask==3.0.3
dash==3.2.0
yapf==0.40.1
pytest==8.3.5
mpmath==1.3.0
exceptiongroup==1.3.0
comm==0.2.2
rpds-py==0.20.1
ml-dtypes==0.2.0
configobj==5.0.9
stack-data==0.6.2
tifffile==2023.7.10
defusedxml==0.7.1
importlib_metadata==8.5.0
oauthlib==3.3.1
attrs==25.3.0
coverage==7.6.1
filelock==3.16.1
cycler==0.12.1
typing_extensions==4.12.2
traitlets==5.14.3
tornado==6.4.1
ipykernel==6.29.5
proglog==0.1.12
Werkzeug==3.0.6
choreographer==1.2.1
isort==4.3.21
PyYAML==6.0.2
trimesh==4.8.2
protobuf==3.20.3
imageio-ffmpeg==0.5.1
tabulate==0.9.0
jsonschema-specifications==2023.12.1
drjit==1.0.3
blinker==1.8.2
mccabe==0.7.0
scikit-learn==1.3.2
rsa==4.9.1
xarray==2023.1.0
timm==0.9.12
mmcv-full==1.6.1
future==1.0.0
pygem==2.0.0
ibug-face-alignment==0.1.0
ibug-face-detection==0.1.0
